[2017-12-07 16:53] jstheoriginal commented on #180
These are the only available colors:

<img width="343" alt="screen shot 2017-12-07 at 10 52 44 am" src="https://user-images.githubusercontent.com/5117473/33727141-d35af170-db3c-11e7-8602-8cd70efa9a82.png">

[2017-12-07 17:08] divo commented on #180
https://github.com/zendesk/zendesk_sdk_chat_ios/blob/master/ZDCChat.framework/Headers/ZDCChatUI.h#L113

`ZDCChatUI.appearance().chatBackgroundColor = UIColor.red` is working for me in a Sample integration.

[2017-12-07 17:23] jstheoriginal commented on #180
That's really strange. Swift doesn't think it's exposed properly, but if I use it still, it does build and fixes the issue.

Perhaps those properties aren't being exposed correctly to the appearance() instance? None of the ones in the linked file are showing up as accessible.

<img width="517" alt="screen shot 2017-12-07 at 11 19 48 am" src="https://user-images.githubusercontent.com/5117473/337287

[2017-12-07 17:28] divo commented on #180
I'm seeing that too. CodeSense won't pick them up but I can CMD click and see them in the headers just fine.

I'll leave this issue open for now.

[2017-12-08 12:17] divo commented on #180
Quick update, I'm also seeing this when setting the appearance of UIKit components. Fairly sure it's a bug in XCode.

[2017-12-12 12:39] hemangshah commented on #131
@mathewcropper , Is this issue has been fixed?

[2017-12-15 11:19] baz8080 commented on #131
@hemangshah It has not. We'll update the issue when it is. We are planning on doing work on chat in the new year.

[2018-01-13 16:36] jstheoriginal commented on #180
Since there's a solution, I'll close this.

[2018-01-13 16:36] #180 closed

[2018-01-13 16:38] jstheoriginal commented on #152
Hi Zendesk Team.

This is still very much an issue and does not leave a good impression for those looking for support when the app crashes.

Any updates on solutions?

[2018-01-22 14:26] brendan-fahy commented on #152
Hi @jstheoriginal, unfortunately there is no update at this time. The work mentioned above was delayed, and I can't give an ETA for the new version. Sorry to be the bearer of bad news.

[2018-01-22 14:28] jstheoriginal commented on #152
Thanks @brendan-fahy. Do you know the root cause that triggers this? Is it caused by pre-sending messages that would make the chat need to scroll because it doesn't fit in the main chat window?

[2018-01-26 09:42] divo commented on #152
@jstheoriginal how frequently are you seeing these crashes? We have never been able to pin them all down. We did solve a lot of them some time ago but a few remain. We want to gut the SDK and rebuild it but we simply haven't had the time. Any information you provide about frequency would be appreciated.

[2018-01-30 16:34] stefandouganhyde commented on #152
Hi @divo. I'm experiencing this crash too so I've been following this issue.

Your question about frequency prompted me to investigate a little deeper. If I look at these crashes as a proportion of chat sessions, I calculate that approximately 1.3% of users who participate in Zendesk chats will experience this crash, which seems very high to me.

Hopefully, this data helps you prioritise this fix

[2018-01-31 11:23] baz8080 commented on #152
Thanks for the data @stefandouganhyde
I passed it along to the people who need to know.

[2018-02-08 17:15] Spr-Luis commented on #152
iOS or Simulator: iOS
iOS Version: 10 & 11

Hi, I have the same problem in Urbvan application for iOS, every day we have more that 40 users with this problem, our service requires Zendesk Chat to bring our users the best experience. We need an fix. :(

[2018-02-15 11:44] Elipasousa opened #181 "Chat API notifications not being sent"
- SDK version: 1.3.7.1
- Xcode version: 9.2
- iOS or Simulator: both
- iOS Version: 10 and 11
- Swift version: 4.0

I'm implementing my own view controller using ZenDesk Chat APi notifications. I've noticed a couple of things:

1st) when an agent first joins the chat room, there's no `ZDCChatEventTypeMemberJoin` event notification being sent. The `agentEvents` is called with an array containing al

[2018-02-16 12:41] fnazarios opened #182 "Crash when running on iOS 11.3 and Xcode 9.3"
- SDK version: latest
- Xcode version: 9.3
- iOS or Simulator: iOS and Simulator
- iOS Version: 11.3
- Swift version: 4.1

Steps to Reproduce:

1. Call `initializeWithAccountKey`
2. Booom

[code]

[2018-02-16 14:39] patrick-doyle commented on #182
Hi fnazarios,

Can you add more information on how you integrated in xcode 9.3 and provide a code sample for where the crash occurs?

[2018-02-16 15:49] patrick-doyle commented on #181
Hi Elipasousa,

Can you provide a code sample of how the chatLogEvents and agentEvents observers are added to `ZDCChatAPI` instance to help with solving this issue?

[2018-02-16 15:52] Elipasousa commented on #181
Hi Patrick, here's the methods I'm calling on my `viewDidLoad`. Please let me know if you need any extra info. Thanks

`        ZDCChatAPI.instance().addObserver(self, forConnectionEvents: #selector(onConnectionStateUpdated))
        ZDCChatAPI.instance().addObserver(self, forTimeoutEvents: #selector(timeoutEvent(_:)))
        ZDCChatAPI.instance().addObserver(self, forChatLogEvents: #selector(cha

[2018-02-19 15:10] divo commented on #181
@Elipasousa Can you try listening for [Agent Events](https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/sessionapi#agent-events) for notifications on Agents joining / leaving the chat? A chat session has not really started until an agent is active, hence why no initial chat event is sent for them joining. I know it's a bit unintuitive.

For No.2, `ZDCChatEventTypeRatingComment` never bein

[2018-02-19 15:22] Elipasousa commented on #181
Thanks @divo for taking the time to answer me. I found a workaround for both issues:

- regarding the first issue, I'm forcing an `ZDCChatEventTypeMemberJoin` for the first time the first agent starts typing.

- for the rating comment bug, I'm just checking for an update on `ratingComment ` from the original `ZDCChatEventTypeRating` event. The documentation could have been updated to include this

[2018-02-19 16:00] divo commented on #181
@Elipasousa I have updated our known issues to include the `ZDCChatEventTypeRating` bug. The changes should be live soon.

[2018-02-21 15:13] baz8080 commented on #137
I'm closing this issue as it appears to have gone away.

[2018-02-21 15:13] #137 closed

[2018-02-21 15:56] baz8080 commented on #181
@Elipasousa Thanks for the report, the workaround has been published on our docs now, and we'll be reworking the events for our next major release. We've no ETA on that, and I'm going to close this issue as we have it tracked internally.

[2018-02-21 15:56] #181 closed

[2018-03-02 15:26] TanelTeemusk opened #183 "avatarUrl always nil for AgentEventType"
- SDK version:
1.3.7.1
- Xcode version: 9.2
- iOS or Simulator: iOS 10.0, simulator and device
- iOS Version: 10.0
- Swift version: 4

Steps to Reproduce:

1. make instance of ZendeskChatAPIClient
2. define client.eventUpdated and client.eventReceived blocks
3. add this in each block:
`if let event = event as? AgentEventType {
                print("event url: \(event.avatarURL)")
            }`
4

[2018-03-05 15:41] RonanMcH commented on #183
Hi @TanelTeemusk ,
I wasn't able to reproduce your issue. I was able to retrieve the `avatarUrl` using the following code:
[code]
Let us know if this solves your issue.
Thanks,
Ronan.

[2018-03-08 09:28] TanelTeemusk commented on #183
Yup it did solve the problem for me too, but this does not populate AgentEventType with this url.
I think it should also populate the struct conforming to this protocol, as it's somewhat misleading to have avatarURL in the AgentEventType and always nil. This struct is the most logical place where developers would be looking it for. Don't you think?

[2018-03-09 14:10] eepDev commented on #183
Hi @TanelTeemusk,

You're right, a nil avatar in an event is misleading and causes confusion.
We're planning on doing work on Chat later this year and will ensure to address this inconsistency. Until then, I'm afraid you're stuck with the solution Ronan suggested above.

Thanks for reporting this.
Elvis

[2018-03-13 09:44] BharathiT2S opened #184 "Leave Message screen auto hides"
- SDK version: ZDCChat (1.3.7.1)
- Xcode version: Xcode9
- iOS or Simulator: Device
- iOS Version: 11
- Swift version: 3

Steps to Reproduce:

1. No agents are available.
2. Clicking on Leave message and click the textbox. When keyboard appears, the screen goes up and hidden from the screen.

[Textfield Hides.zip](https://github.com/zendesk/zendesk_sdk_chat_ios/files/1806326/Textfield.Hides.zip)

[2018-03-14 03:36] BharathiT2S commented on #184
Hi  Steven,
Thank you for the quick updates.
Yes we are modally presenting the SDK.
And we are not getting this issue on single flow. When the keyboard appears, the screen goes up.  I suspect, it could be screen movement when keyboard appears.

Could you please let us know, is there any observer added for Keyboard display and whether it can be exposed outside for our debugging purpose?

Regards
Bh

[2018-03-16 14:40] Barbatosso opened #185 "Need to add ZDCChat into private pod project"
- Xcode version: 9.2
- iOS Version:  11.0
- Swift version: 4.0

Hello, we need to add your framework into our private pod project. But when we trying to add as dependency we have an error:
`target has transitive dependencies that include static binaries: (.../Example/Pods/ZDCChat/ZDCChatAPI.framework and .../Example/Pods/ZDCChat/ZDCChat.framework)`.
And Xcode doesn't allow directly adding framewor

[2018-03-17 19:52] dimohamdy commented on #121
@ronan-mch  how I can localize to Arabic ?

[2018-03-17 20:05] dimohamdy commented on #121
@AhmedShammala  how you get the keys in localize file please share your solution?

[2018-03-18 07:33] AhmedShammala commented on #121
@dimohamdy i rename one of this languages to "ar"

<img width="256" alt="screen shot 2018-03-18 at 9 32 20 am" src="https://user-images.githubusercontent.com/11911318/37563686-55fd6ee0-2a8f-11e8-9de6-7f8bd7dbe859.png">

[2018-03-18 12:01] dimohamdy commented on #121
@AhmedShammala thanks for your fast response but I want to know, how you translate the text inside localize file?

[2018-03-18 14:04] AhmedShammala commented on #121
@dimohamdy  ahmed i don't understand ,  you should open the file localizable. strings > Open as > ASCII List

and there change the values .

[2018-03-18 14:38] dimohamdy commented on #121
@AhmedShammala  thank the trick is open as ASCII List

[2018-03-19 07:32] selvaraj-t2s opened #186 "Not able to change the navigation bar title."
SDK version: ZDCChat (1.3.7.1)
Xcode version: Xcode9
iOS or Simulator: Device
iOS Version: 11
Swift version: 3

Doubt:
Is it possible to change the navigation bar title on the chat page?

[2018-03-20 15:26] tecknut commented on #186
Hi @selvaraj-t2s thanks for your question. Generally these issues are intended for raising bugs/crashes and general issues with the SDK. We have a [community forum](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-Developer-Mobile-SDKs) which can be a good place to get answers on general questions.
We also have documentation which outlines most of the integration details nee

[2018-03-20 15:26] #186 closed

[2018-03-20 15:30] tecknut commented on #185
@Barbatosso what version of cocoapods are you using?

[2018-03-23 07:34] Barbatosso commented on #185
1.4.0

[2018-03-23 10:35] divo commented on #185
@Barbatosso this seems to be a Cocoapods issue. Can you try the workaround [posted here](https://github.com/CocoaPods/CocoaPods/issues/3289#issuecomment-313726321) ?

[2018-03-29 11:14] thangarajan opened #188 "How to dismiss the Chat UI Manually"
- SDK version:
- Xcode version:
- iOS or Simulator:
- iOS Version:
- Swift version:

Steps to Reproduce:

1.
2.

[2018-04-03 22:56] Spr-Luis opened #189 "PLEASE! :( FIX FATAL CRASH!"
- SDK version:
- Xcode version: Xcode 9.3
- iOS or Simulator: iOS
- iOS Version: > 11.0
- Swift version: Swift 3.1

Steps to Reproduce:

1. The issue appears only with a simple navigation around the Zendesk Chat.

We have a lot of users, and some of feature are Zendesk to attend any issue with our service. But if chat crash, we can't help our users. :(
The customer service department is over me pu

[2018-04-04 12:57] divo commented on #189
@Spr-Luis please see https://github.com/zendesk/zendesk_sdk_chat_ios/issues/152
Can you provide us with any information, frequency of crashes, steps to reproduce etc?

[2018-04-04 12:58] divo commented on #188
@thangarajan We don't support dismissing the Chat UI mid chat.

If you really want to have a look at getting the topViewController and dismissing it.

[2018-04-04 13:01] #188 closed

[2018-04-05 05:42] BharathiT2S commented on #184
Hi,

This issue is comes only once when launch the app. After that its not coming.
Even if there is some other observers added in some other view controllers, it should be replicated always.
But its happening only at the first time launch of the app.
If  we quit the app and open again, we are getting this issue

Please suggest some option toe bug it.

Regards
Bharathi

--
Touch2Success

[2018-04-06 10:45] baz8080 commented on #185
@Barbatosso I'm going to close the issue. If the workaround in the link Divo provided does not work, then please get back in touch.

[2018-04-06 10:45] #185 closed

[2018-04-16 10:17] divo commented on #189
@Spr-Luis I am going to tentatively close this. If you can provide more information please re-open the issue.

[2018-04-16 10:17] #189 closed

[2018-04-16 19:37] chaseacton commented on #178
Any update for this? The recommended fix for disabling translucency on the navigation bar is not working on iOS 10.1 and with the latest chat SDK pod. I've attached a sample project demonstrating the bug.
[Zendesk Chat Test.zip](https://github.com/zendesk/zendesk_sdk_chat_ios/files/1916943/Zendesk.Chat.Test.zip)

[2018-04-18 15:00] RonanMcH commented on #182
HI @fnazarios ,
I am going to tentatively close this issue. Please feel free to reopen this issue if it is still persisting!
Thanks,
Ronan.

[2018-04-18 15:01] #182 closed

[2018-04-27 12:47] danielCarlosCE opened #190 "Attachment button (attachButton) not visible on chat"
- SDK version:  v1.3.6.1
- Xcode version: Xcode 7.3.1
- iOS or Simulator: (Simulator) iphone 6s
- iOS Version:  9.1
- Swift version: 2.3

<img width="347" alt="screen shot 2018-04-27 at 9 43 41 am" src="https://user-images.githubusercontent.com/1819682/39363225-ec9787a2-49ff-11e8-9704-03ad69a126e1.png">

[2018-04-27 14:35] baz8080 commented on #178
@chaseacton We are going to look at a fix in our next sprint, which is in the next two weeks. We'll keep you updated.

[2018-04-27 15:12] chaseacton commented on #178
Thanks!

[2018-04-27 19:40] danielCarlosCE commented on #190
https://support.zendesk.com/hc/en-us/articles/115009438848-Mobile-Chat-SDK-How-to-fix-the-attachment-icon-not-showing-in-your-mobile-app
[code]

[2018-04-30 09:08] patrick-doyle commented on #190
Hi Daniel

Did the article you linked to help with the issue? If so I will close this issue.

[2018-04-30 12:32] RonanMcH commented on #190
Hi @danielCarlosCE ,
Thanks for your input,
Ronan.

[2018-04-30 12:32] #190 closed

[2018-04-30 14:35] dragomir-ivanov-212 opened #191 "Build time error when importing header from ZDCChatAPI installed via cocoapods"
- SDK version: 1.3.7.1
- Xcode version: 9.3
- iOS or Simulator: Both
- iOS Version: Any
- Swift version: N/A

Steps to Reproduce:

1. Create a project or use an existing project without 'ZDCChat' pod installed
2. Install pod 'ZDCChat/API' via cocoapods
3. Use "#import <ZDCChatAPI/ZDCAPIConfig+Timeout.h>" anywhere

Current behaviour:

Build time error - 'ZDCAPIConfig.h' file not found

Expected beh

[2018-05-04 13:47] baz8080 commented on #191
Thanks @dragomir-ivanov-212
I checked out your project and saw the issue. We do developer support on a rotation so I'm going to leave it to one of our iOS devs to discuss the way forward with the PR and issue. It's a public holiday in Ireland on Monday so it might be Tuesday or Wednesday when we let you know. Thanks!

[2018-05-14 08:57] parth51 commented on #178
Any update on this ?

[2018-05-15 10:08] brendan-fahy commented on #178
Hi @parth51, the gods of sprint planning have frowned upon us and the update right now is effectively the same as Barry's one above: it's in our current sprint to be fixed and we'll be looking to release the patch as soon as we've done our testing.

[2018-05-20 10:42] christiygag opened #192 "Localization & Support Right to Left languages"
- SDK version: 1.3.7.1
- Xcode version: 9.2
- iOS or Simulator: iPhone 7
- iOS Version: iOS 11.3
- Swift version: 4

I have added Arabic localization into my app. But Zendesk chat SDK is not working as expected. Some labels are overlapped and some are misplaced. Totally weird behaviour. PFA the screenshot.
You can find Message placeholder and send icon overlapped at the bottom right. Also the agen

[2018-05-23 12:41] divo commented on #192
@christiygag thank you for bringing this to our attention. I have added it to our backlog but am unable to give a date for the next patch release.

[2018-06-04 07:50] apascual commented on #94
Hi, is there any update on this?

We would like to redirect users to the chat or the normal support depending on the chat availability.

[2018-06-13 17:32] danielCarlosCE opened #193 "Previous events (from livechatLog) are not sent again when reconnecting to current session"
- ZDCChat/API 1.3.7.1
- Xcode version:  9.4
- iOS or Simulator: Simulator
- iOS Version: 11.4
- Swift version: Objective-C

Steps to Reproduce:

1. Connect to a chat
2. Send some messages
3. Call `startChatWithAccountKey` again

Am I supposed to hold those previous events or are you guys supposed to clear livechatLog after a `endChat` call?

[2018-06-15 20:45] JacobJT commented on #14
I'm experiencing this issue. I was on 1.3.2.1 and just updated to 1.3.7.1, the issue is in both.

When I first open the chat, regardless if it's a new one, old one, modal, or pushed to a nav controller, the input bar is twice the expected height.

Additionally, if I press "Done", it goes back to what looks like normal, although the status bar is miscolored, not matching the navigation bar's color.

[2018-06-18 09:39] divo commented on #193
@danielCarlosCE reconnecting to an active session should repopulate `ZDCChatAPI.liveChatLog`.

When a session has expired (after 5 minutes of no activity) or ended (calling `liveChat`) the previous events are no longer available. Are you calling `endChat`?

[2018-06-18 14:52] danielCarlosCE commented on #193
My problem was when the ZDCConnectionStatus was still `ZDCConnectionStatusConnected` when a reentered my screen. I thought/expected that every time I call `startChatWithAccountKey` I would receive all previous events, if any, but I realized the way you guys set the api was to send those previous events only if I disconnect and connect again without closing the chat. So, whenever I left my chat scr

[2018-06-18 14:52] #193 closed

[2018-06-18 14:55] danielCarlosCE opened #194 "Notes are not being added to Zoplin"
- ZDCChat/API 1.3.7.1
- Xcode version: 9.4
- iOS or Simulator: Simulator
- iOS Version: 11.4
- Swift version: Objective-C

Steps to Reproduce:

ZDCVisitorInfo *visitorInfo = [[ZDCVisitorInfo alloc] init];
visitorInfo.phone = phone;
visitorInfo.name = name;
visitorInfo.email = email;
[visitorInfo addNote: [NSString stringWithFormat:@"CPF = %@", cpf]];

[chatApi setVisitorInfo: visitorInfo];

I rece

[2018-06-18 20:42] Spr-Luis commented on #152
When you will update the SDK for fix this issue? Customer support are becoming crazy because they lost the connection with our clients. 👎 👎

[2018-06-18 22:42] dhsu210 opened #195 "Swift 4 examples of chat styling customization?"
- SDK version: 1.3.7.1
- Xcode version: 9.4.1
- iOS or Simulator: Simulator
- iOS Version:
- Swift version: 4.1

In the [documentation](https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/customization), there's examples for customizing the styling in Obj-C, but does anyone have examples of styling using Swift? Not all of the appearance properties show up for Swift in the latest Xcode + la

[2018-06-19 16:01] patrick-doyle commented on #195
Hi,

Can you specify which properties are missing in swift 4?. We have an example in the docs you linked for Swift 3 if that helps.

Thanks

[2018-06-19 16:08] patrick-doyle commented on #194
@danielCarlosCE Can you add some logs to the issue to help us debug this?
Thanks

[2018-06-19 21:19] dhsu210 commented on #195
I was hoping the Swift 3 examples were a bit more specific besides `appearance()...`

I've been looking at the full Obj-C examples from [the reference below the Swift 3 section in the documentation](https://github.com/zendesk/zendesk_sdk_chat_ios/blob/master/ZopimChatSample/ZopimChatSample/ChatStyling.m).

If I wanted to change the color of the navBar text in the chat, I'm currently attempting `ZD

[2018-06-20 09:12] divo commented on #195
@dhsu210 The file you linked is the most complete Chat SDK styling reference. We don't have a Swift example but it shouldn't be too tricky to work them out from the ObjC.

The Chat SDK doesn't modify the UINavigationBar. If you want to style it you can use its appearance proxy.

[2018-06-20 10:57] baz8080 commented on #194
@danielCarlosCE as Patrick mentioned, logs would be great. I was able to add a note using the latest version of the SDK.

<img width="296" alt="screen shot 2018-06-20 at 11 56 04" src="https://user-images.githubusercontent.com/1534413/41654341-0bc184c4-7481-11e8-974c-42f2e108e84c.png">

[2018-06-20 11:04] baz8080 commented on #178
@parth51 the fix has been merged to our internal development repository, and we will be aiming to release it as soon as we can.

[2018-06-20 13:07] danielCarlosCE commented on #194
Hey guys! Thanks for the answer.
Well, I used the exactly code I showed above before calling `[chatApi startChatWithAccountKey:(accountKey)];` The whole code was:
[code]

I ended up calling `[chatApi setNote:[NSString stringWithFormat:@"CPF = %@", cpf]];` after the `connectionStatus` was `ZDCConnectionStatusConnected` and that's what worked for me.

[2018-06-20 15:44] baz8080 commented on #152
We've attempted to fix this issue in the version that we'll be releasing in the near term. The lack of reproducibility hampered our efforts to do that. We'll post back here when the version is released. We hope it'll improve the issue.

[2018-06-20 19:17] divo commented on #194
![](https://media.giphy.com/media/pyl1E9trnmwdW/giphy-downsized-large.gif)
@danielCarlosCE Please post logs. We can do nothing without logs.

[2018-06-20 20:19] dhsu210 commented on #195
@divo What do you mean by the appearance proxy of the UINavigationBar? It appears as if the ChatSDK view pops up embedded in a NavigationController, but how do I access this?

[2018-06-22 13:18] tecknut commented on #195
Hi @dhsu210,

UIAppearance is an [Apple API](https://developer.apple.com/documentation/uikit/uiappearance) for global styling of UI elements in iOS.

[code]

Does this help you?

[2018-06-22 13:19] tecknut commented on #194
We're glad you managed to get this working @danielCarlosCE.

Thanks for letting us know

[2018-06-22 13:19] #194 closed

[2018-06-22 14:35] omar-dev commented on #192
any updates on this @divo ?

[2018-06-22 21:19] dhsu210 commented on #195
@tecknut Yes this is exactly what I was looking for! Thanks so much!

[2018-06-22 21:28] #195 closed

[2018-06-26 11:37] HamstringAssassin commented on #192
Hi @omar-dev. I'm afraid we don't have any update on this yet. We'll let you know as soon as we do though.

Cheers for getting in touch.

[2018-07-11 03:54] hungcao2112 opened #196 "How to disable LoadingErrorView?"
- SDK version: 1.3.7.1
- Xcode version: 9.4.1
- iOS Version: 11.4
- Swift version: 4

Steps to Reproduce:

1. Check for agents status, if no agent online still show the chatview (disable loadingErrorView) and set the label "No agent online" on top or something like that,is there any solution?

2. Other solution is adding uiview subclass  ZDCChatView in other ViewController. I tried `chatView.activ

[2018-07-18 12:18] eliakorkmaz opened #197 "In Leave a Message page, UITextField as UIResponder do not resign."
- SDK version: 1.3.7.1
- Xcode version: Version 9.2 (9C40b)
- iOS or Simulator: İOS 10
- iOS Version: iPhone 5 (Real Device)
- Swift version: 4

Steps to Reproduce:

1.  When you navigated to Leave a Message page then enter something to textfield for leave message and finally send the message, one of the three textfield still holds responder, the keyboard is still awaken. So its free to enter some

[2018-07-19 09:52] HamstringAssassin commented on #197
Hi @eliakorkmaz - Thanks for raising it with us.

Just so I'm clear, is this the screen you are talking about when you say "Leave a message" page?

![img_0124](https://user-images.githubusercontent.com/6310250/42935067-a23f0568-8b40-11e8-8e15-7508cb9095d1.PNG)

I dont think its a bug. The subsequent screen presented to the user is the chat screen and should have the keyboard active.

Thanks for br

[2018-07-19 09:57] #197 closed

[2018-07-19 11:29] HamstringAssassin commented on #196
Hi @hungcao2112,

Thanks for getting in touch. Unfortunately, the functionality you are looking for isn't available through the UI provided with the SDK.

What might be of some use is the Chat API available through the SDK.

https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/sessionapi

Here you could build a custom UI to suit your needs.

We also have a forum / community page where you c

[2018-07-19 11:29] #196 closed

[2018-07-19 13:18] kumareshbabuas opened #198 "how to Replace Back and End Chat Navigation button to custom Image Button ?"
- SDK version: 1.3.7.1
- Xcode version: 9.3
- iOS or Simulator: bOTH
- iOS Version: 10+
- Swift version: 3.+

Steps to Reproduce:

1. ZDCCHAT. START ....
2. ZDCChatUI.init().endChatButtonImage = "imagename" -- NOT working

Kindly help us on that .As we are in urgent to push the app into App Store,.

[2018-07-23 14:04] tecknut commented on #198
Hi @kumareshbabuas, can you give more detail please?

- Have you turned on logging?
- Is there a crash?

Thanks

[2018-07-24 11:07] NermeenMohamed commented on #192
@HamstringAssassin  @divo  Please Let me Know if it Will Support Arabic Language or not ?

[2018-07-24 12:14] KillianSmith0 commented on #192
Hi @NermeenMohamed, there is a plan to support all RTL languages (including Arabic) in the next release, however we're unable to put a time-frame when the next release will be. Sorry for the inconvenience

[2018-08-01 12:32] eliakorkmaz opened #199 "Cannot change ZDCChatCells UI components"
- SDK version: 1.3.7.1
- Xcode version: 9.2 (9C40b)
- iOS or Simulator: iOS 10
- iOS Version: iPhone 5 (Real Device)
- Swift version:  4

Steps to Reproduce:

1.  Hi, I've downloaded your `zendesk_chat_ios_sdk` for a `Swift` project and integrate successfully in to the app. But when I try to change some UI elements such as `BubbleView`(ChatView) of the `AgentCell` or `VisitorCell` it can not be ch

[2018-08-01 14:15] patrick-doyle commented on #199
Hi @eliakorkmaz

Here is the list of appearance properties that are supported in the SDK.

https://github.com/zendesk/zendesk_sdk_chat_ios/blob/master/ZopimChatSample/ZopimChatSample/ChatStyling.m

If you want to change the background colour you need to use `ZDCAgentChatCell.appearance().bubbleColor` instead of background colour.

Lets us know if that helped
Patrick

[2018-08-01 21:17] rpelorosso opened #200 "Chat background image in Swift 4"
- Xcode version: 9.4.1
- iOS Version: 11.0
- Swift version: 4.1

Hi!

I can set the Chat's background color with

[code]

But how do I set an image as background?

thank you!

[2018-08-01 23:41] rpelorosso opened #201 "Embedding the chat in a UIView"
Hi!

I see the Android counterpart of this SDK has a way to init a chat as a fragment. Is there any way in the iOS version to create the Chat's view controller and add its view as a subview to a container UIView?

Thank you!
Rodrigo

[2018-08-02 06:39] eliakorkmaz commented on #199
Hi @patrick-doyle

Thanks for help, it worked. The mistake is Xcode is not showing the appearance properties when you write for example `ZDCAgentChatCell.appearance().` . I do not know why its not showing but maybe cause from the SDK written in OBJC.

Thanks
Emrah

[2018-08-02 09:13] HamstringAssassin commented on #199
Hi @eliakorkmaz,

That sometimes happens - I find restarting Xcode can help. I'll close this ticket as the original issue has been solved. If there's anything else feel free to get in contact.

Cheers,
Al

[2018-08-02 09:13] #199 closed

[2018-08-02 09:40] HamstringAssassin commented on #201
Hi @rpelorosso,
Unfortunately that functionality isn't available in the iOS SDK.

if you want though, you could log a feature request here https://develop.zendesk.com/hc/en-us/community/topics.

Cheers,
Al

[2018-08-02 09:40] #201 closed

[2018-08-02 10:02] HamstringAssassin commented on #200
Hi @rpelorosso,

I'm afraid that functionality isn't available. If you want, you can log a feature request here https://develop.zendesk.com/hc/en-us/community/topics.

All available chat stylings can be found here: https://github.com/zendesk/zendesk_sdk_chat_ios/blob/master/ZopimChatSample/ZopimChatSample/ChatStyling.m

Thanks for getting in contact,

Cheers,
Al

[2018-08-02 12:29] eliakorkmaz commented on #199
@HamstringAssassin  Thanks for advise. :)

Additionally I want to ask something with `ZDCVisitorChatCell`.

There are just one avatar for the `Agent`, I did not found any avatar for `Visitor`.  Can we edit or do something for `Visitor`?

[2018-08-02 13:02] rpelorosso commented on #200
Hi @HamstringAssassin, thank you for your answer,

I've gone through that document and have found

[code]

what does this function do? I couldn't find it in Swift, though, why is it?

thanks!
Rodrigo

[2018-08-02 13:50] HamstringAssassin commented on #199
No, I'm afraid they are different cells - one of which has an avatar.

There is always an option of rolling your own UI. Can read more about that here https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/sessionapi if you like.

If there are features that you want to request, you can log them here - https://develop.zendesk.com/hc/en-us/community/topics.

Thanks,
Al

[2018-08-02 14:31] HamstringAssassin commented on #200
Ah, I was mistaken. Sorry about that.

I was able to do it here using the following in a sample app.

[code]

Let me know how that goes.

[2018-08-03 06:11] eliakorkmaz commented on #199
Thanks for help. I will looking at these documents.

[2018-08-03 07:57] kumareshbabuas commented on #198
Hi @HamstringAssassin

How do you Set endChatButtonImage. It not even coming when using ZDCChatUI.apperance().

That the reason I used init() to set the image name . But its also not working.
See the attached code file.
<img width="886" alt="screen shot 2018-08-03 at 1 25 45 pm" src="https://user-images.githubusercontent.com/7816570/43631464-e2cea93a-9720-11e8-987d-d0f28b28acc8.png">

[2018-08-08 15:26] KillianSmith0 commented on #200
Hi @rpelorosso,

Just a quick bump to see if Alan's solution worked for you? If not let us know, otherwise we can close the issue!

[2018-08-08 23:49] rpelorosso commented on #200
Thank you @HamstringAssassin  and @KillianSmith0 ! I had missed your new messages. Indeed that worked, but I had to set the frame for the backgroundImageView in order for it to work. Thank you!

[2018-08-08 23:49] #200 closed

[2018-08-14 14:02] ahmed-khalil opened #202 "Change the color of the statusBar"
- SDK version: 1.3.7.1
- Xcode version: 9.2
- iOS or Simulator: both
- iOS Version: 11
- Swift version: 4

So I am presenting the Zendesk Chat module by:

ZDCChat.start(in: nil, withConfig: nil)

I am having a hard time changing the statusBar color to light color. How would you be able to do that?

[2018-08-14 16:02] divo commented on #202
@ahmed-khalil Can you provide a bit more information please? Is the problem the status bar changes appearance when you launch the chat?

[2018-08-14 17:35] JacobJT commented on #176
@divo grave digging a bit here, has there been a different UI release this year, as that message says? I've been on the latest release, 1.3.7.1, still with some sporadic crashes here and there. They're few in number, but when a user needs to contact us for support is probably one of the worst times to crash on them so I'd like to upgrade if possible.

Thanks!

[2018-08-14 17:36] divo commented on #176
@JacobJT no we still haven't released anything, sorry.

[2018-08-14 17:43] JacobJT commented on #176
@divo thanks for the quick reply. Do you know if there's anything on the horizon for this year still? And if not, are there maybe any plans to revisit some of the issues here instead?

[2018-08-15 14:51] txaiwieser opened #203 "Create a custom UINavigationController for specific customisations"
Hey, today if you need to customize the UINavigationBar you can do something like this:

        UINavigationBar.appearance().tintColor = .black
        UINavigationBar.appearance().barTintColor = .white

But this changes the appearance of every bar in the app. Ideally you should not use a plain `UINavigationController` when presenting the `ZDCChatViewController` modally, instead use a `ZDCChatNav

[2018-08-16 10:04] ahmed-khalil opened #204 "Change the translations for certain messages"
Hey, is it possible to change some texts/translations for the chat SDK?

[2018-08-16 10:09] HamstringAssassin commented on #203
Hi @txaiwieser,

Thanks for getting in contact. If you want a new feature added - its best to add them here: https://support.zendesk.com/hc/en-us/community/topics

Cheers,
Al

[2018-08-16 10:13] HamstringAssassin commented on #204
Hi @ahmed-khalil,

The strings in the app can be changed. YOu can read more about it here:  https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/customization#strings-and-localization

Cheers,
Al

[2018-08-16 10:13] #204 closed

[2018-08-16 14:02] divo commented on #176
@JacobJT we have just released 1.4. We attempted to fix this issue but as we were never able to replicate it I cannot say for certain we were successful.

Can you give it a try and report back to us?

[2018-08-16 14:04] divo commented on #152
We have released 1.4 today. As we were never able to replicate this I can't say we fixed it with certainty. We did try.

Can you give it go and let us know how it goes?

[2018-08-16 14:06] HamstringAssassin commented on #202
Hi @ahmed-khalil,

If I present the chatUI with a basic navigationContoller it respects the statusBar style.

Are you doing anything to the status bar style in the presenting ViewController? If i have `View controller-based status bar appearance` set to `NO` in my info.plist i need to manage the statusBar style after i present the ChatUI.

[2018-08-16 14:06] divo commented on #178
We released 1.4 today. It should fix this issue.

[2018-08-16 14:06] #178 closed

[2018-08-16 15:43] JacobJT commented on #176
@divo Thanks! We have the same issue as you - tried really hard to replicate the issue unsuccessfully. What I can do is include this update in our next release, and report back if I get any crash reports. If I do, I'll send over the stack trace to see if it's of any help for you. If I don't see any over the course of the next few weeks I'll report that back as well.

[2018-08-16 15:43] divo commented on #176
@JacobJT that would be fantastic! Thank you.

[2018-08-16 20:50] Spr-Luis commented on #152
https://cocoapods.org/pods/ZDCChat#changelog

[2018-08-16 21:00] Spr-Luis opened #206 "Please update the SDK Docs for 1.4v"
Please update the SDK Docs, the [changelog in cocoapods](https://cocoapods.org/pods/ZDCChat#changelog) say:

Please add more information in Github or your official web site. :(

[2018-08-16 21:16] JacobJT commented on #176
Not strictly relevant to this specific issue, but here is another crash we had:
[code]

Do you know if the current update may have caught this as well?

[2018-08-16 22:04] txaiwieser commented on #203
This customisation is important so we can start using in all of our apps.

https://support.zendesk.com/hc/en-us/community/posts/360004243348-Create-a-custom-UINavigationController-for-specific-customisations

[2018-08-17 06:58] ahmed-khalil commented on #202
Well, we override the status bar appearance in some of our view controllers, so the default is dark, but sometimes (as in the case in the chat) we need it to be white.

[2018-08-17 10:50] brendan-fahy commented on #206
Hi @Spr-Luis,
Our SDK docs have already been updated with more detail about 1.4. In particular, see [Push Notifications](https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/push_notifications) and [Session Duration](https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/chat#session-duration). Is there something else you were looking for?

[2018-08-17 10:54] brendan-fahy commented on #202
Can you share with us what you've tried so far to manage the statusBar style?

[2018-08-17 10:56] brendan-fahy commented on #176
Hi @JacobJT,

I don't _think_ this would be covered by the latest update, but I can't be sure. Do you have any more info on this one? Do we need to cover this in a separate issue?

[2018-08-17 11:04] divo commented on #203
@txaiwieser we do have `+ (void) startChatIn:(UINavigationController*)navController withConfig:(ZDCConfigBlock)config`. Can you try creating your own navController, style that instance, and start chat in it. You can then present that navController modally and it will be styled.

Does that work for you?

[2018-08-17 16:31] Spr-Luis commented on #206
👍 Thanks!

[2018-08-17 16:31] #206 closed

[2018-08-17 19:17] txaiwieser commented on #203
Unfortunately it doesn't, We're using this for starting our chat, but if the users returns to the chat (via the floating button) it starts modally with its own UINavigationController

[2018-08-20 14:05] ridvank opened #207 "Unable to change enableOfflineMessageSendButton"
- SDK version: 1.3.7.1
- Xcode version: 9.4.1
- iOS or Simulator: Simulator
- iOS Version: 11.4
- Swift version: 4.1.2

Hi, I am unable to change enableOfflineMessageSendButton status. Trying to disable it such as:
`ZDCChat.instance().chatViewController.enableOfflineMessageSendButton(false)`
Any help would be appreciated.

[2018-08-20 15:06] tecknut commented on #207
Hey @ridvank,

Can you do some checking for me while we look into this?

Is `ZDCChat.instance().chatViewController` non nil for you when you try to call this?

[2018-08-20 15:14] JacobJT commented on #176
@brendan-fahy Sorry, I thought I pasted a bit more info, didn't realize how scarce that was of helpful data.

NSRangeException

`[UITableView _contentOffsetForScrollingToRowAtIndexPath:atScrollPosition:usingPresentationValues:]: row (2) beyond bounds (2) for section (0).`

ZDCChatView.m line 640 was the culprit

Only have 2 reports for it in the last 30 days on iOS 11 (which isn't to say it doesn'

[2018-08-20 15:16] JacobJT commented on #189
This appears to be the same issue I brought up in #176, so I'll post here instead of opening a new one.

NSRangeException

`[UITableView _contentOffsetForScrollingToRowAtIndexPath:atScrollPosition:usingPresentationValues:]: row (2) beyond bounds (2) for section (0).`

ZDCChatView.m line 640 was the culprit

Only have 2 reports for it in the last 30 days on iOS 11 (which isn't to say it doesn't exi

[2018-08-20 15:26] ridvank commented on #207
Sure it is not nil :)

[2018-08-22 16:37] KillianSmith0 commented on #207
@ridvank

Although the chatViewController is initialised, the sendButton is not initialised until the ViewController is sure that there is no Agents, therefore calling this won't work unfortunately, this is a timing issue. I will create a ticket in our backlog and keep you posted.

[2018-08-28 13:48] divo commented on #203
@txaiwieser fair enough. I have added this to our backlog but we don't have a release planned in the immediate future.

[2018-08-28 14:08] divo commented on #202
@ahmed-khalil the Chat SDK is setting the statusbar style to dark. I will add a story to out backlog to review this (and probably remove it, the reason for it is lost).

I can't say when we will release a fix though.

[2018-09-17 17:09] JacobJT opened #209 "Status bar turns black and UI misaligned after starting chat"
- SDK version: 1.4.0
- Xcode version: 9.4.1
- iOS or Simulator: iPhone 6 device
- iOS Version: 11.4.1
- Swift version: 4

Steps to Reproduce:

1. Call `[ZDCChat startChatIn:withConfig:]` or `[ZDCChat startChat:]`
2. Note top bar goes off edge of screen
3. Press "Done" so the keyboard dismisses and the screen lowers
4. Press "Back"
5. Note status bar is missing, any views tied to top margin display

[2018-09-17 19:48] JacobJT commented on #209
This appears to have been caused by an external library, IQKeyboardManager, which was shifting the whole view up. disabling it on the VC that triggers the live chat worked.

[2018-09-17 19:48] #209 closed

[2018-09-20 08:48] MarkJoyful opened #210 "Setup department"
- SDK version: 1.4.0
- Xcode version: 9.3
- iOS or Simulator: iOS
- iOS Version: 11.
- Swift version:

how do i setup department before start a session , i just import ZDCChatApi,

[2018-09-20 15:13] eepDev commented on #210
Closing an issue as already answered in our community post; https://develop.zendesk.com/hc/en-us/community/posts/360004329147-iOS-ChatApi-After-startsession-how-do-i-setup-department-?page=1#community_comment_360002109528

[2018-09-20 15:13] #210 closed

[2018-09-25 16:17] irodrigo17 commented on #37
@mathewcropper @schlan Any updates on this? Is there a link to the backlog item where I can subscribe to get updates?

[2018-09-30 05:44] Spr-Luis commented on #137
Issue is back in the last release 1.4.0.

-[ZDCJSWidgetIO setupUserAgent]

SDK version: 1.4.0
Xcode version: 10
iOS or Simulator: Device (iPhone 6s)
iOS Version: 11.3.1
Swift version: 4.1

<img width="1109" alt="captura de pantalla 2018-09-30 a la s 0 41 43" src="https://user-images.githubusercontent.com/5206221/46253777-bc8fd680-c449-11e8-95ab-c7945bbbfde7.png">

[2018-10-01 02:08] Nonnus opened #211 "Feature Request: Carthage support"
Can we please get [carthage](https://github.com/Carthage/Carthage) support?

[2018-10-02 11:42] blackfoxik opened #212 "How can I hide navigation controller"
- SDK version:1.4.0
- Xcode version:9.4.1
- iOS or Simulator: iPhone 8 plus simulator
- iOS Version: 11
- Swift version: 4

Steps to Reproduce:

1. set ZDCChat.instance().chatViewController.navigationController?.setNavigationBarHidden(true, animated: false) after ZDCChat.initialize(withAccountKey: "...") and ZDCChat.start(in: self.navigationController, withConfig: nil)
2.
I have a viewController w

[2018-10-02 16:27] blackfoxik opened #213 "TexteField for imput message under keyboard and view not cover all space in container view"
- SDK version:1.4.0
- Xcode version:9.4.1
- iOS or Simulator: iPhone 8 plus simulator
- iOS Version:11
- Swift version:4

Steps to Reproduce:

1. I have tabbar view controller in one tab I have container view in which I try to add ViewController with zenchat programmatically
2.
I use the following code to add chat programmatically in the container view

[code]

![issues](https://user-images.github

[2018-10-02 16:53] blackfoxik commented on #212
I figured out how to hide navbar
In viewDidLoad I added :
[code]
and int as func setNavBar I have:
[code]

[2018-10-02 16:53] #212 closed

[2018-10-03 12:34] blackfoxik commented on #213
I've tried to make my container view smaller by applying bottom constraint when keyboard appears and bigger when keyboard disappears. So I can see message input TextField, but if I put just one sign - textField moves under the keyboard. if I then resign input and start again typing - textfield not moves under the keyboard. It seems that when the first sign appears in textField "relayout" process u

[2018-10-04 11:15] juanlabela commented on #213
I have a similar issue with this screen but in my case, when the keyboard opens, the textfield goes twice up(like two times the height of the keyboard). Are you experiencing this issue too?

[2018-10-08 12:28] RodrigoLGuimaraes opened #214 "Incompatibility with IQKeyboardManager"
- SDK version: 1.3.7.1

Don't think those really matter, but those were the condition in which I tested:
- Xcode version: Version 10.0 (10A255)
- iOS or Simulator: iPhone X 11.2
- iOS Version: 11.2
- Swift version: 4

Steps to Reproduce:

1. Add IQKeyboardManager or IQKeyboardManagerSwift to your project. I used Cocoapods and I have IQKeyboardManagerSwift (6.0.2) installed.
2. Add ZDCChat to your

[2018-10-09 10:45] bielikb commented on #211
Hi @Nonnus,
we are planning to provide _Carthage_ support in upcoming releases of Chat SDK.

[2018-10-10 10:17] #211 closed

[2018-10-11 13:31] HamstringAssassin commented on #214
HI @RodrigoLGuimaraes,

Thanks for getting in contact.

We do not support IQKeyboardManager in the SDK. As you’ve correctly pointed out, its taking control of the layout when we are also handling showing the keyboard.

I would try disabling IQKeyboardManager when showing Chat. See here for more info. https://github.com/hackiftekhar/IQKeyboardManager#warning

Cheers,
Al

[2018-10-17 06:28] AhmedShammala commented on #121
@rusdariusalex  Unfortunately NO .

[2018-10-23 15:02] bielikb commented on #213
Hi guys,

I filed this as a bug. Will close this issue, once it's resolved

[2018-10-24 10:00] blyscuit commented on #195
Hi, I am trying to set the bubble color of ZDCVisitorChatCell the obj-c code is
`[[ZDCVisitorChatCell appearance] setBubbleColor:[ChatStyling navBarTintColor]];`
but I can't find swift equivalent.

[2018-10-25 13:33] HamstringAssassin commented on #214
Thanks @RodrigoLGuimaraes.

Any more issues feel free to get in contact.

[2018-10-25 13:33] #214 closed

[2018-10-30 13:38] RonanMcH opened #215 "First send message doesn't show in chat"
@aravika08 , moving this issue to the correct repo.
Original issue: https://github.com/zendesk/zendesk_sdk_ios/issues/454

- SDK version: 2.2.0
- Xcode version: 10.0
- iOS or Simulator: iPhone X
- iOS Version: 12.1
- Swift version: 4.2

Steps to Reproduce:

1. Start ZDCChat:
`ZDCChat.start(in: self.navigationController) { config in
                config?.emailTranscriptAction = .neverSend

[2018-10-30 13:40] RonanMcH commented on #215
@aravika08 , looking into this now and will get back to you on this thread soon.

[2018-10-30 16:39] RonanMcH commented on #215
Hi @aravika08 ,
I am unable to reproduce this issue you are having. I have tested on xcode 10 (iOS 12) and xcode 10.1 beta (iOS 12.1 beta) using iPhone X. I used the code you provided.
Could you perhaps post a screenshot of the issue so we could see what is happening with the UI? There is no version 2.2.0 of the Chat SDK, could you clarify what version you are using?
Thanks,
Ronan.

[2018-10-31 20:33] amsalt18 opened #216 ""Reconnecting..." banner never disappears despite being reconnected"
The "Reconnecting" banner won't disappear despite being reconnected with an agent.

![reconnecting](https://user-images.githubusercontent.com/20688869/47816848-8dab9f80-dd2a-11e8-89cd-3f5b2e307966.png)

- SDK version: 1.4.0
- Xcode version: 10.1 (10B61)
- iOS or Simulator: iPhone XS Max
- iOS Version: 12.0.1
- Swift version: 4.2

Steps to Reproduce:

1. Start a chat
2. Leave the application
3. Ret

[2018-11-06 12:17] Jiaguanglei0418 commented on #216
i also have this bug, who can give a help?

[2018-11-08 13:02] HamstringAssassin commented on #216
Hi @amsalt18 & @Jiaguanglei0418,

Thanks for getting in touch. I'm having some trouble reproducing from the steps given.
Just to clarify, is the device online or offline? or are you saying that it's somehow related to the agent being online?

I've been testing by switching to airplane mode and the "reconnecting" banner is removed every time.

Thanks,
Al

[2018-11-08 16:21] amsalt18 commented on #216
Hi @HamstringAssassin, thanks for the response! To answer your questions:

The device was always online and connected to the internet.

If I had to guess, I would say it has to do with the agent being disconnected to the chat after a timeout (when the customer doesn't respond, it automatically ends the chat after some time) and then when the customer comes back.

What happens is: the customer re-o

[2018-11-09 14:33] alpen89 commented on #94
Hello, I'm with @apascual on this. To check if agents are online, we have to open a chat session. So let's imagine we would do it in the background on app start only to check if any agents are online, so we can decide to show chat or other support. Now there would be avg. 13000 open chat sessions from our app only in a day just to check if any agents are available.

Do you think that this is going

[2018-11-19 05:58] Jiaguanglei0418 commented on #216
user dismiss the chatViewController before a connected chat established will make this reconnecting case when start a chat again.

[2018-11-20 11:09] bhautikmobileappdev opened #217 "How can I get End chat button action while leaving chat?"
- Xcode version: 9.2
- iOS or Simulator: ALL
- iOS Version: ALL

I am not finding a way to get End chat button event, Can we do it? Please help...

[2018-11-20 13:07] RonanMcH commented on #217
Hi @bhautikmobileappdev ,
You can subscribe to chat connection events. This is detailed in our documentation [here](https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/sessionapi#connection-events). Let us know if this helps.
Thanks,
Ronan

[2018-11-20 13:18] aravika08 commented on #215
Sorry, version was wrong.

Current ZDC version:
#define ZDC_CHAT_SDK_VERSION @"1.4.0"

[2018-11-20 13:35] RonanMcH commented on #215
Hi @aravika08 ,
Thanks for clearing that up. I tried again to recreate this issue just now and still no luck. There must be some differences in our set up. Could you post a small video so that we could see what is happening with the UI?
Thanks,
Ronan.

[2018-11-21 15:12] meros opened #218 "Missing authentication functionality"
- SDK version:
1.4

The Web SDK has authentication support and functionality to fetch history. This functionality is missing in 1.4 of the ios sdk. Is adding this on the agenda?

[2018-11-21 16:46] baz8080 commented on #218
Hi @meros

Yes, it's on our longer term agenda. We are currently working on a version 2.0 of the Chat SDK, and this is one of the features that's in scope.

[2018-11-21 16:54] meros commented on #218
That sounds promising! Is there any ballpark estimate on when that will
arrive?

On Wed, Nov 21, 2018, 17:46 Barry Carroll <notifications@github.com> wrote:

[2018-11-21 16:57] baz8080 commented on #218
@meros We cannot give ETAs for this, sorry. What I can tell you is that we're working on building version 2.0 in such a way as to make new features of this quicker to implement, but that does mean there's a lot of groundwork to do first.

[2018-11-22 08:47] aravika08 commented on #215
Yes, sure:

https://drive.google.com/file/d/1NkxUHrCw6vT1orqmtRYy9a0UWjoWh7da/view?usp=sharing

[2018-11-22 10:32] apascual opened #219 "Layout issues on modal chat"
- SDK version: 1.3.7.1
- Xcode version: 10.1 (10B61)
- iOS or Simulator: both
- iOS Version: 12.1
- Swift version: Objective-C

Steps to Reproduce:

1. Just call [ZDCChat startChat:nil];

The text is hidden while the keyboard is open.

![simulator screen shot - iphone xr - 2018-11-22 at 11 28 20](https://user-images.githubusercontent.com/3491658/48897392-40fb4600-ee4a-11e8-8e1c-ece85fbf129a.png)
!

[2018-11-22 11:01] apascual commented on #214
Hi,

I found a better way, add these lines to your IQKeyboardManager setup:

[code]

Cheers.

[2018-11-22 11:02] apascual commented on #219
Closing duplicate...

Solution here: https://github.com/zendesk/zendesk_sdk_chat_ios/issues/214

[2018-11-22 11:02] #219 closed

[2018-11-26 09:35] HamstringAssassin commented on #218
Hi @meros, I'm going to close this issue. Feel free to ping us again if you have any other questions for us.

thanks a mil,
Al

[2018-11-26 11:30] #218 closed

[2018-11-26 11:58] HamstringAssassin commented on #217
Hi @bhautikmobileappdev,

If there are no more questions I might go ahead and close this issue.

Feel free to get in contact again.

Cheers,
Al

[2018-11-26 11:58] #217 closed

[2018-11-26 15:19] HamstringAssassin commented on #216
Hi @amsalt18 & @Jiaguanglei0418,

Unfortunately, I still can't repo the issue. Just to possibly rule out the issue being a difference in our configurations, Could you try reproduce the issue with the sample app in this repo and your own config?

Thanks a mil,
Al

[2018-11-27 03:12] megataps opened #220 "Pushing the same view controller instance more than once is not supported (<ZDCChatViewController: 0x10f7191f0>)"
- SDK version: 1.4.0
- Xcode version: 10.1
- iOS or Simulator: ip7 plus
- iOS Version: 12.1
- Swift version: 3.0

I can not reproduce it but i got report from Fabric notification we have 20 crashes with this info:

[2018-11-29 15:37] schlan commented on #220
Hi @megataps , thanks for reporting this issue. Sadly, we haven't been able to reproduce it either. Can you share with us the code that you're using to start the Chat SDK?
- Sebastian

[2018-12-02 00:57] Lawati97 commented on #62
@mattk90 and @ralubenea did you guys find the solution for that

[2018-12-02 01:01] Lawati97 commented on #193
If you guys can help me, this is what i am trying to do so whenever i end chat and try to go and create a new chat i can't for some reason it disconnects from the server and i cannot reconnect to the server

[2018-12-04 22:29] Lawati97 opened #221 "I am trying to reconnect to the ZDCChat but i cannot"
- SDK version: 1.9.2.2
- Xcode version: 9.3
- iOS or Simulator: IOS
- iOS Version: 12.1
- Swift version: 4.2.1

Steps to Reproduce:

1.  I had set the ViewController to ZDCChatViewController
2. set the chatUI as active

So this is what happening whenever i start a chat it will normally do (since i have ZDCchat.start()), but then when i end chat and go to the ZDCChatViewController. It goes back to

[2018-12-05 07:09] darshandixit commented on #192
Any New Update For Localization Issues?

[2018-12-06 10:53] RonanMcH commented on #221
HI @Lawati97 ,
Could you please clarify what version of the ChatSDK you are on? We don't have a version 1.9.2.2 of the ChatSDK but we do of the SupportSDK so perhaps you mixed them up.

I am a little bit unclear as to the steps to recreate this issue, I have tried to do so but can't. Could you try to share some code of exactly how you are presenting the chat and detail the behaviours a little bit?

[2018-12-06 10:57] RonanMcH commented on #216
@amsalt18 and @Jiaguanglei0418 ,
have either of you had any luck reproducing the sample app. This would help us determine if it was a possible in your chat admin configuration or an issue in the SDK?

[2018-12-06 15:44] amsalt18 commented on #216
Hi @RonanMcH & @HamstringAssassin, our iOS engineer working with this SDK has been out. Will get back to you once we have the capacity to test this.

[2018-12-06 17:29] emresorbaci opened #222 "How to remove back button from navigation bar?"
- SDK version:1.4.0
- Xcode version:9.3 (9E145)
- iOS or Simulator:simulator
- iOS Version:11.3
- Swift version: objective-c latest

I want to remove ChatView back button. (Left Bar Button)

![screen shot 2018-12-06 at 19 56 23](https://user-images.githubusercontent.com/11772054/49599063-156f7400-f991-11e8-9875-7f099e5bd615.png)

[2018-12-06 19:44] Lawati97 commented on #221
@ronan-mch I apologize i meant SDK Version 1.4.0, so this is what i am trying to do is that as soon you click on a button in the navigation controller it would take you to would directly take you ZDCChat but if i ended the chat and clicked on the same button in navigation Controller the ZDCChat won't show up again.

[2018-12-07 12:14] danthedrummer commented on #222
Hi, the SDK doesn't provide an API to remove the back button

[2018-12-07 14:43] emresorbaci commented on #222
I don't want user to leave without close the chat and I don't want it in my UI.

[2018-12-09 20:41] Lawati97 commented on #221
@ronan-mch so let me rephrase it s this was our solution we had a button and whenever you click it. It would take you to the pre chat form and then to the live chat and when you end it, it would take you back to the first page and we don't want that we want it to go back to the pre chat form

https://drive.google.com/open?id=1D_GQJa8AU8sRA4cXh94-KG1gB4F2M9h-

The link will take you to the video to

[2018-12-12 08:07] levantAJ commented on #137
We're having same issue with `1.4.0`, any updates?

[2018-12-12 17:06] HamstringAssassin commented on #222
Hi @emresorbaci,

Unfortunately, this is not a feature offered by the SDK. if you'd like to request the feature, feel free to create a post in our community for it.

https://develop.zendesk.com/hc/en-us/community/topics

Thanks,
Al

[2018-12-12 21:42] HamstringAssassin commented on #221
Thanks for the video @Lawati97!

I think I understand what the issue is - unfortunately, once a chat ends, the product behavior is to dismiss. If you need a custom UI with custom behavior, there are provider methods to help build your own.

Thanks,
Al

[2018-12-13 10:56] yan-zaitsev opened #223 "Restore chat session after app kill"
- SDK version: 1.4.0
- Xcode version: 10.1
- iOS or Simulator: Device
- iOS Version: 12.1
- Swift version: 4.2

Steps to Reproduce:

1. Start chat session
2. Switch to another app (app with chat will be in background)
3. Wait until system kill app / user kill app
4. Start app, open chat

**Expected:**
I see previous chat session. I can finish it by "End chat" button
**Actual:**
New chat session is

[2018-12-13 17:44] Lawati97 commented on #221
@HamstringAssassin thank you, would you guide me where can i find these information?

Thanks again,
Hussain Al Lawati

[2018-12-17 14:33] danthedrummer commented on #221
Hi,

Here's the docs describing how to use the Chat API providers to build your own UI:
https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/sessionapi

Best of luck!

[2018-12-17 14:59] danthedrummer commented on #223
From my sample app I can kill the app and when I reopen the app the chat session is still active. It sounds like you're running into the session duration running out which will end the chat entirely based on these constraints:
https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/chat#session-duration

[2018-12-18 08:54] Blankz commented on #215
in my case
1. Agent online
2. yes
3 when end chat and start new chat found bug sometime

[2018-12-18 21:10] yan-zaitsev commented on #223
Hi, I got video from tester and replicate it on simulator. It looks like session is not finished, but messages are not visible + user is connected to another agent (simulator chat.mp4 new agent name reply).
[Simulator video](https://www.dropbox.com/s/fnyo1gbjgq3yze0/simulator%20chat.mp4?dl=0)
[Device video](https://www.dropbox.com/s/ppmiahq0pe4hg6b/device%20chat.mp4?dl=0)

[2019-01-02 14:36] HamstringAssassin commented on #223
Hi @yan-zaitsev,

Sorry about the delay getting back. I think I've managed to reproduce the issue. Once I killed the app, I needed to wait to see a message in the chat dashboard that `<user> has left.` Once I was able to see that, I was able to repo the issue.

I'm pretty sure this is a bug. I've added it to our backlog. I'll keep this ticket open in the mean time until its resolved.

Thanks,
Al

[2019-01-03 13:15] RonanMcH commented on #220
Hi @megataps ,
Could you please provide with some context as to the percentage of users this crash is happening to? This would give us a better insight as to the magnitude of the issue.
Thanks,
Ronan.

[2019-01-03 14:00] RonanMcH commented on #222
Hi @emresorbaci ,
I am going to close this issue as feature requests are handled via the community forum as pointed out above.
Regards,
Ronan.

[2019-01-03 14:00] #222 closed

[2019-01-09 10:32] HamstringAssassin commented on #220
Hi @megataps,

I'm going to close this issue. If you are still having issues or if its severity increases please feel free to give us a shout.

Thanks,
Al

[2019-01-09 10:32] #220 closed

[2019-01-09 12:59] HamstringAssassin commented on #221
Hi @Lawati97,

If there's anything else I can help with please feel free to get in touch - otherwise, we'll close this issue.

Thanks again for getting in contact.
Al

[2019-01-09 12:59] #221 closed

[2019-01-09 13:14] HamstringAssassin commented on #215
Hi @Blankz,

Ah i see. We've heard of some people having issues with IQKeyboardManager before.

https://github.com/zendesk/zendesk_sdk_chat_ios/issues/214 - Heres a previous issue where a solution was found.

Let us know if that works and we'll close the issue.

Thanks,
Al

[2019-01-14 21:52] chaseacton opened #224 "[ZDCChat initializeWithAccountKey:] crash"
- SDK version: latest
- Xcode version: Xcode 10 (latest)
- iOS or Simulator: iOS
- iOS Version: 12.1.2
- Swift version: 4.2

Stack trace:
`Crashed: com.apple.main-thread
0  Propeller                      0x102a00b7c +[ZDCChat initializeWithAccountKey:] (ZDCChat.m:93)
1  Propeller                      0x10265b79c -[AppDelegate application:didFinishLaunchingWithOptions:] (AppDelegate.m:309)
2  UIKit

[2019-01-15 02:47] Blankz commented on #215
@HamstringAssassin
it work now

Thanks

[2019-01-15 11:20] User2004 commented on #130
[Click here](https://webappcodes.com/set-navigation-bar-theme-in-objective-c) for set navigation bar tint color, background color, font family, font color etc.

[2019-01-16 10:06] baz8080 commented on #215
Thanks, I'll close the issue.

[2019-01-16 10:06] #215 closed

[2019-01-22 15:47] baz8080 commented on #224
Hi @chaseacton
I can't reproduce this on my end. Can you tell us more about how you've integrated the SDK, and how you're attempting to start it up?

[2019-02-06 20:23] antoinelamy opened #225 "Main bundle access from within the SDK"
- SDK version: 1.4.0
- Xcode version: 10.1
- iOS or Simulator: Both
- iOS Version: All
- Swift version: 4.2

*Steps to Reproduce:*
1. Embed the `ZDCChat.framework` and `ZDCChatAPI.framework` into a dynamic framework along with their resource bundles
2. Link this dynamic framework to an app
3. In the app, start a chat session

*Actual Result:*
The app crash, not finding it's resource bundle. This c

[2019-02-12 09:40] HamstringAssassin commented on #225
Hi @antoinelamy,

Could you do me a favor and send some sample code that is demonstrating the problem?

Id suggest adding the frameworks to the app to try solve the issue.

Thanks,
Al

[2019-02-12 11:31] HamstringAssassin commented on #224
Hi @chaseacton,

Is the Chat initialization the only thing that's happening inside your AppDelegate method?

If you initialize somewhere else, does that reduce the number of crashes?
Is there any other commonality between the crashes in Crashlytics? OS, amt of RAM left, Device type?

Unfortunately, with the above code, I was not able to reproduce the crash. If you manage to find steps to reproduce

[2019-02-12 11:37] HamstringAssassin commented on #216
Hi @amsalt18,

As there hasn't been an update since December I'm going to close this ticket. If you get more info, or the issue persists, feel free to open a new issue and link to this one.

Thanks a mil,
Al

[2019-02-12 11:37] #216 closed

[2019-02-12 11:42] HamstringAssassin commented on #192
Hi @darshandixit,

We're currently working on an update to the Chat SDK and localization should be included. Unfortunately, I don't have a date that I can give you.

Cheers,
Al

[2019-02-12 14:41] antoinelamy commented on #225
@HamstringAssassin yeah I could work on a sample project to demonstrate the issue but sometime adding the framework to the app is not even possible if what you distribute is a framework. The fix should be fairly easy on your end, you just have to replace occurrences of `[NSBundle mainBundle]` with `[NSBundle bundleForClass:]`. More details can be found here (Dynamic Frameworks vs. Static Libraries

[2019-02-12 21:02] antoinelamy commented on #225
@HamstringAssassin Here is the sample app reproducing the issue. Just add an account key in `AppDelegate` and tap the start chat button. The app will crash not finding its resource bundle
[ZendeskSample.zip](https://github.com/zendesk/zendesk_sdk_chat_ios/files/2857640/ZendeskSample.zip)
.

[2019-02-18 16:57] KillianSmith0 commented on #225
Hey @antoinelamy

Thanks for the sample app and article regarding the frameworks and libraries.. I made a quick attempt at what you suggested, but there seems to be a bit more to it. We'll have to set aside more time to look further into this. We'll keep you posted here,

Thanks,
Killian

[2019-02-19 11:39] baz8080 commented on #131
Hi, I'm going to close this. We have an issue tracked internally and targeted for Chat SDK V2.

[2019-02-19 11:39] #131 closed

[2019-02-19 11:40] #152 closed

[2019-02-19 11:41] baz8080 commented on #152
I'm closing this as we've not been receiving new reports of the issue. In any case, we're actively working on V2 of the SDK, which will be based on a different codebase.

[2019-02-19 12:04] baz8080 commented on #176
I'm going to close this one. We're actively developing Chat V2, on a new codebase, and it's unlikely that we'll revisit this issue because it's a low recurrence rate, and we have not been receiving similar reports through other channels.

[2019-02-19 12:04] #176 closed

[2019-02-19 12:06] baz8080 commented on #183
I'm going to close this issue. We have this tracked internally for regression testing when we're doing Chat SDK V2.

[2019-02-19 12:06] #183 closed

[2019-02-19 12:10] baz8080 commented on #191
Hi, I'm going to close this issue. I have tracked it for regression for when we release chat SDK V2.

[2019-02-19 12:10] #191 closed

[2019-02-19 12:13] baz8080 commented on #202
Hi, We're actively working on V2 of the Chat SDK, and I'll add this bug to our list of things to check for regression. We're not going to patch this in V1.

[2019-02-19 12:13] #202 closed

[2019-02-19 12:37] baz8080 commented on #203
Hi! We're currently working on Chat V2, and this is a great idea, and we'll have it, or similar there in V2. We went with a strategy of vending viewcontrollers in Support V2, and what we do in Chat V2 will be similar.

I'm going to close this issue, and track it in our V2 roadmap internally. we're not going to address this in the V1, sorry!

[2019-02-19 12:37] #203 closed

[2019-02-19 15:51] baz8080 commented on #207
Hi @ridvank
This is captured in our internal roadmap and we'll make sure that it is addressed in v2 of the Chat SDK. We're not going to be able to patch it in V1, so I'm going to close this issue.

[2019-02-19 15:51] #207 closed

[2019-02-19 15:54] baz8080 commented on #213
Hi @blackfoxik
This is tracked internally. We're actively working on V2 at the moment, and we're building it in such a way that these kinds of issues won't happen. We won't be patching it in V1, so I'm going to close this issue.

[2019-02-19 15:54] #213 closed

[2019-02-19 15:59] baz8080 commented on #71
closing the issue because of its age. We're actively working on Chat SDK V2 which will not be subject to these kinds of layout issues.

[2019-02-19 15:59] #71 closed

[2019-02-19 16:00] baz8080 commented on #118
closing the issue because of its age. We're actively working on Chat SDK V2. We have this issue tracked internally. It's more a session management and timing issue rather than a bug. Rest assured, it won't be there in V2

[2019-02-19 16:00] #118 closed

[2019-02-19 16:04] baz8080 commented on #119
@sspitzer This is tracked internally, and we'll aim to address it in Chat SDK V2, which is in active development. We won't be patching it in V1, sorry!

[2019-02-19 16:04] #119 closed

[2019-02-19 16:10] baz8080 commented on #158
Hi @pts011080 We're not going to patch this in V1 of the SDK, but we do have the issue tracked internally, and we'll ensure that it works in Chat SDK V2, which is in active development. Closing the issue.

[2019-02-19 16:10] #158 closed

[2019-02-19 16:11] baz8080 commented on #192
Hi All, I'm closing the issue. RTL is a must-have and will be in Chat SDK 2.0. As @HamstringAssassin we don't have any dates to share at the moment.

[2019-02-19 16:11] #192 closed

[2019-02-19 16:15] baz8080 commented on #223
hi @yan-zaitsev Thanks for the issue and all of the supporting materials. This is tracked internally, and we'll use that issue to ensure that Chat SDK V2 doesn't have the same issue. It's in active development at the moment. We won't be able to patch this issue in V1, so I'll close this issue for now.

[2019-02-19 16:15] #223 closed

[2019-02-19 23:32] Spr-Luis commented on #152
For when do you plan to launch V2? My team is planning change to Intercom for issues with this version of Zendesk Chat

[2019-02-20 12:55] baz8080 commented on #152
@Spr-Luis there are no ETAs, but we'll be getting an initial version out in Q2. I appreciate that might not fit your timelines, and that you might need to migrate to Intercom. Perhaps you'll try V2 when it comes out. Thanks!

[2019-02-20 20:36] antoinelamy commented on #225
Thanks @KillianSmith0

[2019-02-21 10:34] bielikb commented on #225
Hey @antoinelamy,
you've got copy the bundles `ZDCChat` and `ZDCChatStrings` to your sample app.
Let me know how that works, I'm attaching a screenshot.

<img width="1357" alt="screenshot 2019-02-21 at 10 27 38" src="https://user-images.githubusercontent.com/4924709/53162254-8ce19680-35c3-11e9-83b5-384ca6b54aa5.png">

[2019-02-21 12:52] antoinelamy commented on #225
@bielikb yeah I know that work but I'm not distributing an app but a framework. It should work when the resource bundles are in the same bundle as the framework but it don't. I'm just curious, what where the issue you were having by replacing `[NSBundle mainBundle]` by `[NSBundle bundleForClass:]` with a class from the SDK?

[2019-02-21 14:22] bielikb commented on #225
Hi @antoinelamy I filed a bug for this issue.
We're actively developing Chat V2 at the moment, so this issue will be addressed.
Thanks a lot for providing us a Sample App!

Best,
Boris

[2019-02-22 11:53] eirikvaa opened #226 "Dismiss modally presented chat"
- SDK version: 1.4.0
- Xcode version: 10.1
- iOS or Simulator: Simulator
- iOS Version: 12.1
- Swift version: 4.2

Is there any way of dismissing a modally presented chat? As of now you can, obviously, navigate back from a chat which is pushed on the navigation stack, but not able to dismiss a modally presented chat. This is limiting because sometimes it's better in regards to the context to prese

[2019-02-26 11:27] KillianSmith0 commented on #226
Hi @eirikvaa

We allow you to present a modal chat with the `ZDCChat.start(sessionConfig: ZDCConfigBlock)` api, like so in swift

[code]

This will present a screen, embedded in a navigation controller, which allows the end user to dismiss or end the chat.. is this the functionality you are trying to describe?

Regards,
Killian

[2019-02-26 14:09] eirikvaa commented on #226
I managed to dismiss the chat by tapping in the upper-left corner of the chat (which is the navigation bar, but that was actually hard to tell since it's white), which triggered the tap of an invisible dismiss button. This seems like a bug, but if not, how can it be made visible?

[2019-02-26 14:17] KillianSmith0 commented on #226
Hi @eirikvaa

Do you customise your `UINavigationBar.appearance()` at all? The `dismiss` and `endButton` chat buttons are the system default blue by default.

If you want to change the colour of the labels' use
[code]

Hope this helps!

[2019-03-01 10:42] KillianSmith0 commented on #226
Hi @eirikvaa did this solution resolve your issues?

[2019-03-01 12:58] eirikvaa commented on #226
Hey! Sorry, I totally forgot to answer you. I haven't found out why the button isn't disabled. All our other navigation bar buttons are dark, so one would think that the chat dismiss button would be too. I'm guessing we're doing something else that causes the disappearance of the dismiss button. But I now know the button _is_ there, so I guess my question has been answered.

[2019-03-01 13:15] KillianSmith0 commented on #226
Ok @eirikvaa, I hope you figure out where your app is changing the UIButtons. I will close this issue for now, but if you find any other issue, or a reason relating to the SDK feel free to let us know!

Thanks,
Killian

[2019-03-01 13:15] #226 closed

[2019-03-08 11:14] eirikvaa commented on #45
I'm wondering about the same thing as @rsahu34. Is there a way to do this?

[2019-03-15 19:26] DevCoding226 commented on #38
@RonanMcH

I installed iOS ZDCChat SDK using CocoaPod.

Then, I tried to customize the strings following your guide: by creating ZDCChatStrings.bundle file.

But it is not working.

Can I know how I can do that?

[2019-03-15 19:52] DevCoding226 opened #227 "String Customization using ZDCChatStrings.bundle"
- SDK version:
1.4
- Xcode version:
10.1
- iOS or Simulator:
Simulator
- iOS Version:
12.1
- Swift version:
Objective-C
Steps to Reproduce:

1.  I installed ZDCChat using POD.
2. I tried to customize strings by creating ZDCChatStrings.bundle.
3. Linked new bundle with `Copy Bundle Resources` in `Build Phases`.

Totally, not working after doing these steps.

Anyone can solve this?

** I think, it i

[2019-03-28 13:17] tecknut commented on #227
Hi @DevCoding226

You could try using the sub specs for `UI` and `API` which would not include the strings as part of the `pod install`. Then you could add your custom bundle.

https://github.com/zendesk/zendesk_sdk_chat_ios/blob/master/ZDCChat.podspec#L26

To use the subspecs use:

[code]

[2019-04-03 09:03] HamstringAssassin commented on #227
Hi @DevCoding226,

Just wondering if you had any luck with @tecknut's suggestion? if we don't hear, one of my colleagues might close this ticket in a couple of days. if the problem persists, feel free to get in contact again.

Cheers,
Al